if SHIELD_Enigma_03

# Basic
config ZMK_KEYBOARD_NAME
    default "Enigma_03"

config ZMK_USB
	default y

config ZMK_BLE
	default y

config ZMK_MOUSE
	default y

# Battery
config ZMK_BATTERY
	default y

config ZMK_BATTERY_REPORTING
	default y

config BT_BAS
	default y

# ZMK studio
config ZMK_STUDIO
	default y

config ZMK_STUDIO_LOCKING
	default n

endif